*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	overflow: auto;
}

.pixelwolf {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}
